/* -------------------------
-  
-    Complianz
-    
-
---------------------------*/
#cmplz-document{
    max-width: 100%;

    i{
        width: inherit;
        height: inherit;
        content:inherit;
    }
}