

.product-search-filter-search-heading,
.product-search-filter-price-heading,
.product-search-filter-terms-heading,
.product-search-filter-extras-heading,
.product-search-filter-reset-heading{
    font-weight: normal!important;
}


/* Filtre de prix */
.product-search-filter-price .ui-state-default, 
.product-search-filter-price .ui-widget-content .ui-state-default, 
.product-search-filter-price .ui-widget-header .ui-state-default,
.product-search-filter-price .ui-widget-header
{
    background:$main-color!important;
    color: $main-color!important;
}
/* Filtre clear produit */
li[class*="-item-all"].nav-back{
    a{
        color: $light-color!important;
    }
    display: inline-block;
    padding: 0 8px;
    color: $light-color!important;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.product-search-product_cat-filter-item.current-cat>a:after
, .product-search-attribute-filter-item.current-attribute>a:after{
    color: $main-color!important;
}

/* INPUT */
.et_pb_section{
    input[type=text], input[type=password], input[type=tel], input[type=email], input.text, input.title, textarea, select, 
    .woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-cart table.cart td.actions .coupon .input-text{
        @include inputColor;
    }
}
.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-cart table.cart td.actions .coupon .input-text{
        @include inputColor;
}

/* INPUT Disable */
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, 
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, 
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{
    background-color: $grey-color;
}

/* Bouton woocommerce */
.et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link, .form-submit .et_pb_button, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce button.button.alt.disabled, .woocommerce-page button.button.alt, .woocommerce-page button.button.alt.disabled, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .et_pb_contact p input[type="checkbox"]:checked+label i:before, .et_pb_bg_layout_light.et_pb_module.et_pb_button{
    color: $light-color;
}


/* Produits */
.et_overlay{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:rgba($accent-color,.8);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;

    &::before{
        content: "&"!important;
        color: $light-color!important;
        font-size: 2rem;
    }
}
.et_shop_image:hover .et_overlay, .et_portfolio_image:hover .et_overlay, .et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover .et_overlay,
.et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover .meta, .et_pb_gallery_image:hover .et_overlay, .et_pb_has_overlay:not(.et_pb_image):hover .et_overlay, 
.et_pb_image.et_pb_has_overlay .et_pb_image_wrap:hover .et_overlay
{
    z-index: 3;
    opacity: 1;
}
/* Largeur de la page */
body.product-template-default.single.single-product{
    #main-content > .container{
        padding: 0!important;
        width: 100%!important;
        max-width: 100%!important;
    }
    #left-area{
        padding-bottom: 0!important;
    }
}

/* largeur de l'image single-product */
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images{
    width: 100%;
}














/* -------------------------
-
-    BREADCRUMP
-
---------------------------*/
.woocommerce .woocommerce-breadcrumb{
    padding: .3rem 0;
    border-bottom: 1px solid $grey-color;
    margin: 1rem 0;
    font-size: .8rem;
    color: $main-color;
    a{
        color: $main-color;
        &:hover{ color: $accent-color;}
    }
}









/* -------------------------
-
-    PAGE LISTE PRODUIT
-
---------------------------*/
.et_left_sidebar.woocommerce-page #main-content ul.products li.product, 
.et_right_sidebar.woocommerce-page #main-content ul.products li.product,

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
    background: $grey-color;
    padding: .5rem;
}
.et_shop_image {
    mix-blend-mode: darken;
}






/* -------------------------
-
-    PAGE PRODUIT
-
---------------------------*/

/* Image produit */

/* Description courte */
%prixTTC{
    display: inline-block;
    font-size: 1.7rem!important;
    color: $accent-color!important;
}
%prixHT{
    // display: inline-block;
    background: rgba($accent-color, .1);
    padding: 3px 7px;
    margin-left: 7px;
    font-size: 1rem!important;
    color: $main-color!important;
    font-weight:bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
%button-cta{
    border-width: 7px!important;
}

.woocommerce-price-suffix{
    padding: 8px 0;
    .woocommerce-Price-amount{
        @extend %prixHT;
    }
}


/* Bouton CTA
---------------------------*/
/* Page produit simple */
.woocommerce.single-product{
    .single_add_to_cart_button {
        @extend %button-cta;
    }
    .woocommerce-price-suffix{
        display: block;
        .woocommerce-Price-amount{
            margin-left: 0;
        }
    }
}
/* Slider */
.et_pb_slides .et_pb_slide .et_pb_button.et_pb_more_button{
    @extend %button-cta;
}



/* Prix TTC/HT */
.woocommerce-Price-amount{
    @extend %prixTTC;
    .woocommerce-Price-currencySymbol::after{
        content: "/TTC";
        font-size: .7em;
    }
}
.et_pb_wc_price{
    /* Entete produit */
    .woocommerce-Price-amount{
        @extend %prixTTC;
        font-size: 3rem!important;
    }
    .woocommerce-price-suffix .woocommerce-Price-amount{
        @extend %prixHT;
    }
}
.woocommerce-price-suffix .woocommerce-Price-amount {
    .woocommerce-Price-currencySymbol::after{
        content: "/HT";
        font-size: .7em;
    }
}
.includes_tax .woocommerce-Price-amount{
    .woocommerce-Price-currencySymbol::after{
        content: " dont TVA";
    }
}


/* -------------------------
-
-    ONGLET
-
---------------------------*/
.et_pb_tabs, .et_pb_wc_tabs{
    border: none !important;
}
.et_pb_tabs_controls {
    padding-bottom: 10px!important;
    background-color:transparent!important;
    &::after{
        border: none!important;
    }
    
    li{
        border:none!important;
    }
    li.et_pb_tab_active a {
        border-bottom: 2px solid $accent-color!important;
        font-weight: bold;
    }
}
.et_pb_all_tabs{
    border: 1px solid $grey-color2;
    margin-bottom: 3em;
}

/* Produits affiliés */
.et_pb_wc_related_products_0_tb_body ul.products li.product .price .woocommerce-price-suffix .amount{
    color: $main-color!important;
}






/* -------------------------
-
-    PAGE PANIER
-
---------------------------*/
.woocommerce-cart-form__cart-item{
    .product-name{
        a{
            @extend %woo-title-link;
        }
    }
}  












/* -------------------------
-  
-    SIDE BAR
-
---------------------------*/
#main-content .container:before{
    display:none !important;
}

body.woocommerce  #sidebar{
    padding-top: 1em;

    .et_pb_widget{
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey-color;
        &:last-child{
            border:none !important;
        }
    }
    .et_pb_widget.widget_isp_search_box_widget{
        /* moteur de recherche */
        border:none !important;
        &::after{
            content: "";
            display: block;
            height: 1px;
            clear: both;
        }
    }
    .et_pb_widget.woocommerce.widget_price_filter{
    }
    /* barre slider de selection de prix */
    .woocommerce .widget_price_filter .ui-slider,
    .widget_price_filter .ui-slider {
        .ui-slider-range, .ui-slider-handle{
            background-color:$accent-color!important;
        }
    }
    /* bouton filter*/
    .button, .button:hover,
    button.button, button.button:hover{
        // border: 2px solid!important;
        font-size: .8rem;
    }

    h4.widgettitle{
        font-size:1.3em;
    }

    .et_pb_widget ul > li {
         margin-bottom:1.3rem;
         &> a{
             font-weight: bold;
             color: $main-color;
         }
    }
    .et_pb_widget ul.children > li {
        margin-bottom: 0;
        &> a{
            font-weight: normal;
            color: rgba($main-color,.7);
            &:hover{ 
                color: rgba($main-color,1);
            }
        }
    }

}















/* -------------------------
-
-    PLUGIN WOO : 
-
---------------------------*/
.bc-mnc__cart-link--cart-icon i{
    height: auto!important;
    width:30px!important;
}
.bc-mnc a.bc-mnc__cart-link{
    display:flex!important;

    &::before{
        content: "Mon panier";
        display: inline-block;
    }
}
ul#et-secondary-nav li a {
    height: 2rem;
    display: flex;
    align-items: center;
}